<h1 id="header">Surveys</h1>

<% if @surveys.any? %>
  <ul>
    <% @surveys.each do |survey| %>
      <li><%= link_to survey.name, survey_path(survey) %></li>
    <% end %>
  </ul>
<% else %>
  <p>There are no surveys yet.</p>
<% end %>

<%= image_tag "funky_pumpkin.png" , id: 'funky' %>

<p><%= link_to "Create new survey", new_survey_path %></p>
