<h1><%= @survey.name %></h1>

<p><%= link_to "Edit", edit_survey_path(@survey) %></p>
<p><%= link_to "Delete", survey_path(@survey),
                         :data => {:confirm => "You sure?",
                                   :method => "delete"} %></p>

<p><%= link_to "Return to surveys", surveys_path %></p>
